<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>

</head>
<body>

<div style="text-align: center;">
    <form action="/change" method="post">
        Username <input required type="text" name="username"/><br>
        Old password <input required type="text" name="oldPassword"/><br>
        New password <input required type="text" name="newPassword1"/><br>
        Retype new password <input required type="text" name="newPassword2"/><br>
        <button type="submit">Submit</button>
    </form>


</div>



</body>
</html>