<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
WELCOME
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
        <form action="/admin">
            <button type="submit">Admin</button>
        </form>

<p>
    Click <a href="/changeReq"/>here</a>
    to change password.
</p>

<form action="/changeReq" method="get" >
    <button type="submit">Change Password</button>
</form>


</body>
</html>